body {
    background: #f4d456;
    font-family: "Nunito", sans-serif;

}

#mainNavbar .navbar-brand {
    color: #4d3d03e9;
    font-size: 2.0rem;
    font-weight: bold;
}

#mainNavbar .nav-link {
    color: wheat;
    font-size: 1.8rem;
    font-weight: bold;
}

#mainNavbar .nav-link:hover {
    color: rgb(76, 50, 3);
  
}

.About-first-text {
    color: #4d3d03e9;
    font-size: 2rem;
}

@media (max-width : 1200px) {

    .About-first-text {
        font-size: 1.5rem;
    }
}



